<div class="container">

    <div class="jumbotron">
        <h1>Eat Some Burgers</h1>
        <p>Order the burgers. Devour the burgers. Throw away your trash.</p>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger" class="orderBurger">Order Your Fresh Burger</label>
                    <p></p>
                    <input type="test" id="newburger" name="burger">
                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fas fa-receipt"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Burgers ready to be devoured.</strong></div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fas fa-teeth-open"></span></button>
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Devoured burgers.</strong></div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fas fa-trash"></span></button>
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>

    </div>

</div>